<% if @value > 0 %>
    <h1 class="welcome">Correct!</h1>
<% else %>
    <h1 class="welcome">Incorrect</h1>
<% end %>
<h2 class="welcome">You earned <%= @value %> points!</h2>
<br><br>
<%= button_to "Continue", end_turn_path(@game), class: "signup_btn" %>