<h1>Set target score:</h1>
<%= form_for @game, :url => update_tp_path(@game) do |f| %>
    <%= f.number_field :target_points %>
    <%= f.submit %>
<%end%>
<% if @errors %>
  <% @errors.each do |error| %>
    <%= error %>
  <% end %>
<% end %>
<h2>When a player reaches the target score, the game will end after the last player's turn of that round. Whichever player has the highest score wins.</h2>