<% if @draw == true %>
    <h1 class="welcome">Draw!</h1>
<% else %>
    <h1 class="welcome"><%= @winner %> wins!</h1>
<%end%>
<br><br>
<%= button_to "End", welcome_path, method: :get, class: "signup_btn" %>