/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body  {
    /* background-image: linear-gradient(to bottom right, rgba(208, 205, 201, 0.475), rgba(77, 74, 74, 0.514)), url('https://lh3.googleusercontent.com/uymYjet8LNywAiGRwvn4M6VIEF_gC4Nq3PHUiLSPmBfTgvEXz7Tn3_Z8yZ0cZPc-EGEqv6CRI2xZNeIxGzNImCRLDLmygfIFhb7lBze3qC02qoUwQwivixYifTu2epwclC3Gz1500V6Ku1bqboBvNpdGIvoFAf2NQYnvAgyy8ZuAA9C6M7tmljmC9cfMOZqN9uWjz4aUc7SZwD7VHxl1uiX5PuC3O8aMwCW_YTb0UMT7IKrXgiaD9YewIoBMS-TZgfguDdPjOqRLg2bksRhlQjRbadaX3fri6LkO3rKVoE6pACLUs8ETMsKjDFMFm5KABzHdre1rYcbSr_OrJn-OxPnxsHw2H9xha2CFTROmF5cZCePUV2484zrYzYy89GhMDL6-lerh65GXEO5kyfOw-atCTBQqmIetg6quTPsbfbp0gQF_z4bqLbb_FI_5fr0dL4w3P-_MWGlQyKCR0kiqciOZLw-l0Z3e-VVrsJDz7e9QqQKEOEAl8Ucr2fz4kT0VCHLrhaytLrcQjSdVsn_yxmpvXhQRPeDFjHUdLHAbfVok0yVUSqxXgcTvr_0rrsNf1bEXH0wNhl9iooq-j6Vjp8kbdRbdOOaltt4EKBz9W-l36m1OtgJEENJksvapoRGJGMR5GQZ1kR4xIJmgv3T3_65WHC0UUSnqvPr6OQLnb-8qILPHOta05aE=w2958-h1972-no'); */
    background-color: #e3ba26;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}    

.btntowel   {
    border: 2px solid #34495e;
    background: #3498db;
    padding: 10px 20px;
    font-size: 20px;
    font-family: "montserrat"
    margin 10px;
}

.btntowel:hover {
    color: #ecf0f1
}


.cat_btn   {
    border: 2px solid #34495e;
    background: #3498db;
    padding: 30px 50px;
    font-size: 30px;
    font-family: "montserrat"
    margin 20px;
}

.cat_btn:hover {
    color: #ecf0f1
}

.q_btn   {
    border: 2px groove #34495e;
    background: #3498db;
    font-size: 30px;
    font-family: "montserrat"
    margin 20px;
}

.q_btn:hover {
    color: #ecf0f1
}

.signup_btn    {
    background-color: transparent;
    border: 0;
    color: type-light;
    font-family: 'Open Sans', sans-serif; font-weight: bold;
    font-size: 15px;
    line-height: 1;
    margin-top: 1.8rem;
    transition: none;
    border: 1px groove #111;
}

.signup_btn:hover {
    color: #ecf0f1
}

