// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.grid {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 25% 25% 25% 25%;
    grid-row-gap: 50px;
    justify-items: center;
}
h1 {text-align: center;}
h2 {text-align: center;}
html {text-align: center;}

h1.welcome { 
    color: #111; 
    font-family: 'Helvetica Neue', sans-serif; 
    font-size: 100px; font-weight: bold; 
    letter-spacing: -1px; 
    text-align: center;
}

h2.welcome { 
    color: #111; 
    font-family: 'Open Sans', sans-serif; 
    font-size: 30px; 
    font-weight: 300; 
    line-height: 32px; 
    margin: 0 0 72px; 
    text-align: center; 
    line-height: 3; 
}

h2.select {
    color: #111; 
    font-family: 'Helvetica Neue', sans-serif; 
    font-size: 40px; font-weight: bold; 
    letter-spacing: -1px; 
    text-align: center;
}

h2.select_add {
    color: #111; 
    font-family: 'Helvetica Neue', sans-serif; 
    font-size: 30px; font-weight: bold; 
    letter-spacing: -1px; 
    text-align: center;
}

h1.target_head {
    color: #111; 
    font-family: 'Helvetica Neue', sans-serif; 
    font-size: 40px; font-weight: bold; 
    letter-spacing: -1px; 
    text-align: center;
}

h1.target {
    color: #111; 
    font-family: 'Helvetica Neue', sans-serif; 
    font-size: 30px; font-weight: bold; 
    letter-spacing: -1px; 
    text-align: center;
}

h2.q_head {
    color: #111; 
    font-family: 'Open Sans', sans-serif; 
    font-size: 30px; font-weight: bold; 
    letter-spacing: -1px; 
    text-align: center;
}


h2.cat {
    color: #111; 
    font-family: 'Open Sans', sans-serif; 
    font-size: 30px; font-weight: bold; 
    letter-spacing: -1px; 
    text-align: center;
}

.grid-item-cat {
    color: #111; 
    font-family: 'Open Sans', sans-serif; 
    font-size: 25px; font-weight: bold; 
    letter-spacing: -1px; 
    text-align: center;
}

p.name {
    color: rgb(125, 30, 13); 
    font-family: 'Trocchi', serif; 
    font-size: 20px;
    letter-spacing: -1px; 
    text-align: center;

}

h1.question{
    color: #111; 
    font-family: 'Raleway',sans-serif;
    font-size: 30px; font-weight: bold; 
    letter-spacing: -1px; 
    text-align: center;
}

a.users {
    color: #111; 
    font-family: 'Raleway',sans-serif;
    font-size: 25px; font-weight: bold; 
    letter-spacing: -1px; 
    text-align: center;
}

.user {
    color: #111; 
    font-family: 'Raleway',sans-serif;
    font-size: 15px; font-weight: bold; 
    letter-spacing: -1px; 
    text-align: center;
}
